body {
  margin: 0px;
  padding: 0px;
}
.landing {
  background-color: pink;
/*  https://stackoverflow.com/questions/9537838/div-height-100-and-expands-to-fit-content*/
  display:block;
  overflow:auto;
  height: 100vh;
  /*^had help from someone;
  vh helped expand the height of div to viewport height*/
}

h1 {
  font-family: "Tahoma";
  position: relative;
  text-align: center;
  top: 100px;
}

form {
  position: relative;
  text-align: center;
  top: 110px;
}

#name {
  padding: 10px;
  width: 200px;
  font-size: 18px;
  margin-bottom: 10px;
}

#buttonS {
  background-color: black;
  color: pink;
  padding: 10px;
  font-size: 20px;
}



.fighting {
  /*received some help with this*/
  background: url('../images/battleBg.png') no-repeat fixed center;
  background-size: cover;
  z-index: -20;
  height: 100vh;
}

/*https://www.w3schools.com/cssref/pr_pos_clip.asp*/
.playerDiv {
  position: fixed;
  margin-top: 300px;
  margin-left: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}

.playerDiv img {
  width: 300px;
  height: auto;
}

.enemyDiv {
  position: fixed;
  height: 300px;
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-left: 900px;
}

.enemyDiv img{
  position: fixed;
  height: 300px;
  width: 300px;
}

/*Got Hit Effect!*/
/*@keyframes gothit {
  from {;}
  to {;}
}*/

/*Enemy Died Hit Effect!*/
/*https://www.tutorialspoint.com/css/css_animation_fade_in.htm*/

