/*
    All Images are borrowed from the internet.
    I do not own any of them.
                                 */

/*https://css-tricks.com/snippets/css/media-queries-for-standard-devices/*/
@media only screen
  and (min-device-width: 768px;)
  and (max-device-width: 1024px)
   {
    div.landing, div.mapEx, div.fighting  {
    min-width: 760;
    max-width: 1020px;
    /*https://www.w3schools.com/cssref/css_units.asp*/
    }
}


/*Set 0 empty space border for body*/
body {
  margin: 0px;
  padding: 0px;
}

/*Landing Page Styling/ Global Styling*/
.landing {
  background-color: pink;
/*  https://stackoverflow.com/questions/9537838/div-height-100-and-expands-to-fit-content*/
  display:block;
  overflow:auto;
  height: 100vh;
  /*^had help from someone;
  vh helped expand the height of div to viewport height*/
}

h1 {
  font-family: "Tahoma";
  position: relative;
  text-align: center;
  top: 100px;
}



form {
  position: relative;
  text-align: center;
  top: 110px;
}

#name {
  padding: 10px;
  width: 200px;
  font-size: 18px;
  margin-bottom: 10px;
}

#buttonS {
  background-color: black;
  color: pink;
  padding: 10px;
  font-size: 20px;
}

/*

      Exploring Map #3 Importance

                             */
.mapEx {
  /*using same css code of .fighting*/
  background: url('../images/map.png') no-repeat fixed center;
  background-size: cover;
  z-index: -20;
  height: 100vh;
}

.characterRun {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}


/*

      Fighting Scene #2 Importance

                             */

.fighting {
  /*received some help with this*/
  background: url('../images/battleBg.png') no-repeat fixed center;
  background-size: cover;
  z-index: -20;
  height: 100vh;
}

.dialogue {
  background-color: rgba(0,0,0,.4);
  color: white;
}

/*https://www.w3schools.com/cssref/pr_pos_clip.asp*/
.playerDiv {
  position: relative;
  padding-top: 100px;
  margin-left: 20px;
  height: 500px;
  width: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}

.playerSide {
  background-image: url('../images/characterSide.png');
  position: absolute;
  margin-top: 177px;
  width: 300px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}

/*Player Got Hit Effect!*/
/*Position absolute for a div you want to move
Position relative for a div you are moving it in
declare a class with a specific top-right dimensions
on a click event assign this class to a div you want to move*/
/*http://blog.teamtreehouse.com/using-jquery-to-detect-when-css3-animations-and-transitions-end*/
@keyframes gothitP {
  0% {  margin-left: 0}
  25% {   margin-left: 20px; }
  50% {   margin-left: 0; }
  75% {   margin-left: -20px; }
  100%{  margin-left: 0;}
}
.playerMove img {

  /*https://www.w3schools.com/cssref/css_selectors.asp*/
  /*https://developer.mozilla.org/en-US/docs/Web/CSS/animation*/

  animation: gothitP 3s linear 1s 1 alternate; /*animation 1nce*/
}

/*Enemy Container + img*/
.enemyDiv {
  position: fixed;
  height: 300px;
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-left: 900px;
}

.enemyDiv img{
  position: fixed;
  height: 300px;
  width: 300px;
}

@media only screen and (max-width: 1200px) {
  .playerDiv {
    width: 400px;
  }
  .enemyDiv {
    width: 250px;
  }
}

@media only screen and (max-width: 1163px) {
  .enemyDiv {
    margin-left: 840px;
  }
}

@media only screen and (max-width: 1111px) {
  .playerDiv {
    width: 385px;
  }
  .enemyDiv {
    margin-left: 780px;
  }
}

@media only screen and (max-width: 1048px) {
  .playerDiv {
    width: 385px;
  }
  .enemyDiv {
    margin-left: 700px;
  }
}

@media only screen and (max-width: 989px) {
  .playerDiv {
    width: 370px;
  }
  .enemyDiv {
    margin-left: 630px;
  }
}

@media only screen and (max-width: 917px) {
  .playerDiv {
    width: 360px;
  }
  .enemyDiv {
    margin-left: 580px;
  }
}

@media only screen and (max-width: 855px) {
  .playerDiv {
    width: 350px;
  }
  .enemyDiv {
    margin-left: 530px;
  }
}

@media only screen and (max-width: 812px) {
  .playerDiv {
    width: 330px;
  }
  .enemyDiv {
    margin-left: 480px;
  }
}

@media only screen and (max-width: 756px) {
  .playerDiv {
    width: 320px;
  }
  .enemyDiv {
    margin-left: 440px;
  }
}

@media only screen and (max-width: 717px) {
  .playerDiv {
    width: 300px;
  }
  .enemyDiv {
    width: 240px;
    margin-left: 400px;
  }
  .enemyDiv img {
    margin-left: -30px;
  }
}

@media only screen and (max-width: 666px) {
  .playerDiv {
    width: 270px;
  }
  .enemyDiv {
    width: 210px;
    margin-left: 400px;
  }
  .enemyDiv img {
    margin-left: -30px;
    transform: scale(0.8);
  }
}

@media only screen and (max-width: 629px) {
  .playerDiv {
    width: 250px;
  }
  .enemyDiv {
    width: 190px;
    margin-left: 400px;
  }
  .enemyDiv img {
    margin-left: -48px;
    transform: scale(0.74);
  }
  .playerSide {
    margin-left: -50px;
  }
}

@media only screen and (max-width: 610px) {
  .playerDiv {
    width: 230px;
  }
  .enemyDiv {
    width: 190px;
    margin-left: 360px;
  }
  .enemyDiv img {
    margin-left: -48px;
    transform: scale(0.74);
  }
}

@media only screen and (max-width: 571px) {
  .playerDiv {
    width: 230px;
  }
  .enemyDiv {
    width: 190px;
    margin-left: 360px;
  }
  .enemyDiv img {
    margin-left: -48px;
    transform: scale(0.74);
  }
}

@media only screen and (max-width: 565px) {
  .playerDiv {
    width: 230px;
  }
  .enemyDiv {
    width: 190px;
    margin-left: 350px;
  }
  .enemyDiv img {
    margin-left: -48px;
    transform: scale(0.74);
  }
}

@media only screen and (max-width: 555px) {
  .playerDiv {
    width: 230px;
  }
  .enemyDiv {
    width: 190px;
    margin-left: 350px;
  }
  .enemyDiv img {
    margin-left: -48px;
    transform: scale(0.74);
  }
}

@media only screen and (max-width: 545px) {
  .enemyDiv {
    margin-left: 330px;
  }
}

@media only screen and (max-width: 532px) {
  .enemyDiv {
    margin-left: 317px;
  }
}

@media only screen and (max-width: 532px) {
  .enemyDiv {
    margin-left: 306px;
  }
}

@media only screen and (max-width: 512px) {
  .enemyDiv {
    margin-left: 300px;
  }
}

@media only screen and (max-width: 502px) {
  .enemyDiv {
    margin-left: 290px;
  }
}

@media only screen and (max-width: 493px) {
  .playerDiv {
    width: 200;
  }
  .enemyDiv {
    width: 180px;
    margin-left: 290px;
  }
}

@media only screen and (max-width: 484px) {
  .enemyDiv {
    margin-left: 280px;
  }
}

@media only screen and (max-width: 472px) {
  .enemyDiv {
    margin-left: 268px;
  }
}

@media only screen and (max-width: 445px) {
  .enemyDiv {
    margin-left: 242px;
  }
}

@media only screen and (max-width: 445px) {
  .playerDiv {
    width: 190px;
  }
  .enemyDiv {
    width:170px;
    margin-left: 242px;
  }
}

@media only screen and (max-width: 426px) {
  .playerDiv {
    width: 180px;
  }
  .playerSide {
    margin-left: -90px;
  }
  .enemyDiv {
    margin-left: 220px;
  }
  .enemyDiv img {
    margin-left: -70px;
    transform: scale(0.60);
  }
}

@media only screen and (max-width: 400px) {
  .playerDiv {
    width: 180px;
  }
  .playerSide {
    margin-left: -90px;
  }
  .enemyDiv {
    margin-left: 210px;
  }
}
